@import "compass/css3";

@mixin opacity($opacity, $important: no) {
  $opacity-ie: $opacity * 100;
  @if $important == yes {
    opacity: $opacity !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie) !important;
  } @else {
    opacity: $opacity;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie);
  }
}

.sp-popup-body{ overflow: hidden; }

.sp-popup-wrapper
{
  @include animation(sp-popup-open .5s);

  &.ng-hide { @include animation(sp-popup-hide .5s); }
}

.sp-popup-wrapper,
.sp-popup-overlay
{
  position:fixed; z-index:10000;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}

.sp-popup-overlay {
  position:absolute;
  background:rgba(#000, 0.5);
}

.sp-popup-content
{
  position:absolute; z-index:10010;

  img
  {
    display:block;
    max-width: 100%;
  }

  @include animation(sp-popup-content-show .5s);

  &.ng-hide { @include animation(sp-popup-content-hide .5s); }
}

.sp-popup-loader
{
  position:absolute; z-index:10005;
  width:100%; height:100%;
  background:url('../img/loader.png') center no-repeat;

  @include animation(sp-popup-load 1.5s infinite ease-in-out);

  &.ng-hide { @include opacity(0, yes); }
}

.sp-popup-close
{
  position:absolute; z-index:10020;
  top:10px; right:10px;
  padding:10px;
  cursor:pointer;

  img{ width:32px; }
}

.sp-popup-margin { width:30px; }

.sp-popup-prev,
.sp-popup-next {
  position: absolute;
  z-index: 10010;
  top: 0;
  width: 50%; height: 100%;
}
.sp-popup-prev {
  left:0;
  cursor: url(../img/arrow-left-32.png), w-resize;
}
.sp-popup-next {
  right:0;
  cursor: url(../img/arrow-right-32.png), w-resize;
}

.sp-popup-mobile {
  .sp-popup-prev,
  .sp-popup-next{ display:none; }
}


@include keyframes(sp-popup-open)
{
  0% {
    opacity: 0;
    @include transform(translateY(-100%));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0%));
  }
}

@include keyframes(sp-popup-hide)
{
  0% {
    opacity: 1;
    @include transform(translateY(0%));
  }

  100% {
    opacity: 0;
    @include transform(translateY(100%));
  }
}

@include keyframes(sp-popup-content-show)
{
  0% {
    opacity: 0;
    @include transform(scale(0.6));
  }

  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}

@include keyframes(sp-popup-content-hide)
{
  0% {
    opacity: 1;
    @include transform(scale(1));
  }

  100% {
    opacity: 0;
    @include transform(scale(0.6));
  }
}

@include keyframes(sp-popup-load)
{
  0% {
    @include transform(scale(1.0));
    opacity:0;
  }
  50% {
    @include transform(scale(0.7));
    opacity:1;
  }
  100% {
    @include transform(scale(1.0));
    opacity:0;
  }
}